@model List<Todo>
@{
    ViewData["Title"] = "Home";
}
<div>
    <form onclick="addToDb">
        <input type="text" placeholder="enter something pls"/>
        <label asp-for="Title"></label>
        @foreach(var x in @Model)
        {
            <h6>@x.Id</h6>
            <h1>@x.Title</h1>
        }
        <button type="submit">Ok</button>
        <button type="reset">Reset</button>
    </form>
</div>
