@model Todo
@{
    ViewData["Title"] = "kooi";
}
<div class="d-flex justify-content-center align-items-center" style="height:100vh">
    <div id="todoidin">
        <p>@Model.Id</p>
        <h1>@Model.Title</h1>
    </div>
</div>


@section Styles {
    <style>
        #todoidin {
            color: blue;
        }
    </style>
}

@* @section Scripts {
    <script>
        $(document).ready(function () {
            alert('This is an alert from the Index page script!');
        });
    </script>
} *@