@model LoginDto
@{
    ViewData["Title"] = "Login";
}
<div style="width:100%;height:100vh;overflow:auto">
    <form asp-action="LoginUser" method="post" class="login-page d-flex justify-content-center align-items-center">
        <div class="login-inp-div d-flex justify-content-center align-items-center">
            <span class="d-flex flex-column">
                <label asp-for="Email"></label>
                <input asp-for=Email type="email" id="inp_login_mail" />
                <label asp-for="Password"></label>
                <input asp-for=Password type="password" id="inp_login_pass" />
                <button class="align-self-center" type="submit">Login</button>
            </span>
        </div>
    </form>  
</div>
