@model LoginDto
@{
    ViewData["Title"] = "Login";
}
<div style="width:100%;height:90vh">
    <form asp-action="LoginUser" method="post" class="login-page d-flex justify-content-center align-items-center">
        <div class="login-inp-div d-flex flex-column justify-content-center align-items-center">
            <input type="text" id="inp_login_mail" />
            <input type="text" id="inp_login_pass" />
            <button type="submit">Login</button>
        </div>
    </form>  
</div>
